.footer{
    height: 100%;
    background-color: #428C8A;
    color: aliceblue;
    
}

Container{
    margin: 100px;
   
}

.margin-top{
    padding: 60px;
}

.footer img{
    width: 250px;
}

.space{
    text-align: center;
    padding-bottom: 30px;
    font-size: 12px;
}